indexed_data
indexed_data_logistic
indexed_ids
indexed_file.h5  
app_uno copy.py
app_uno copy 2.py
app_uno.html
app_uno copy.html
style copy.css
create_indexed_hdf5.ipynb
data_df.csv
index_2_id.pkl
__pycache__
*.pyc
non_relevant_images_ids.json
relevant_images_ids.json 
old_functions 
functions_hdf5.py